<div class="earth">
</div>

<div class="top-titles">
  <svg></svg>
  <div class="trending">POPULAR NOW</div>
</div>

<div class="hover" {{bind-attr style="hoverStyle"}}>
  <div class="image">
    <img {{bind-attr src=hoverImageSrc}} />
  </div>
  <div class="title">
    {{hoverTitle}}
  </div>
</div>
